<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Context parameters -->

	<!--
		No servlet or servlet-mapping elements are needed because
		all servlets are registered dynamically by the RegisterServlets
		listener.
	-->
	
	<!-- Filters and filter mappings -->
	<filter>
		<filter-name>RequireLogin</filter-name>
		<filter-class>edu.ycp.cs.pygmymarmoset.app.filter.RequireLogin</filter-class>
	</filter>
	<filter>
		<filter-name>RequireSuperUser</filter-name>
		<filter-class>edu.ycp.cs.pygmymarmoset.app.filter.RequireSuperUser</filter-class>
	</filter>
	<filter>
		<filter-name>PathInfoArgs</filter-name>
		<filter-class>edu.ycp.cs.pygmymarmoset.app.filter.PathInfoArgs</filter-class>
	</filter>
	<filter>
		<filter-name>LoadCourse</filter-name>
		<filter-class>edu.ycp.cs.pygmymarmoset.app.filter.LoadCourse</filter-class>
	</filter>
	<filter>
		<filter-name>RequireInstructorOrAdmin</filter-name>
		<filter-class>edu.ycp.cs.pygmymarmoset.app.filter.RequireInstructorOrAdmin</filter-class>
	</filter>
	<filter>
		<filter-name>RequireStudent</filter-name>
		<filter-class>edu.ycp.cs.pygmymarmoset.app.filter.RequireStudent</filter-class>
	</filter>
	<filter>
		<filter-name>InstLoadProject</filter-name>
		<filter-class>edu.ycp.cs.pygmymarmoset.app.filter.InstLoadProject</filter-class>
	</filter>
	<filter-mapping>
		<!--
			Parses path info args.
			Keep this as the first filter, applied to all URIs.
			This is an easy way to ensure that arguments are
			available anywhere they're needed.
		-->
		<filter-name>PathInfoArgs</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RequireLogin</filter-name>
		<url-pattern>/index</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RequireSuperUser</filter-name>
		<url-pattern>/a/*</url-pattern>
	</filter-mapping>
	<filter-mapping> <!-- Load course for all instructor servlets -->
		<filter-name>LoadCourse</filter-name>
		<url-pattern>/i/*</url-pattern>
	</filter-mapping>
	<filter-mapping> <!-- Load course for all student servlets -->
		<filter-name>LoadCourse</filter-name>
		<url-pattern>/u/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RequireInstructorOrAdmin</filter-name> <!-- Note: must be *after* LoadCourse -->
		<url-pattern>/i/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RequireStudent</filter-name> <!-- Note: must be *after* LoadCourse -->
		<url-pattern>/u/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>InstLoadProject</filter-name>
		<url-pattern>/i/project/*</url-pattern>
	</filter-mapping>
	
	<!--
		Use the Welcome servlet as the welcome page.
		It will redirect to the login page or index page
		as appropriate.
	-->
	<welcome-file-list>
		<welcome-file>/welcome</welcome-file>
	</welcome-file-list>
	
	<!-- Listeners -->
	<listener>
		<!-- Dynamically register all servlets, and add routes. -->
		<listener-class>edu.ycp.cs.pygmymarmoset.app.servlet.RegisterServlets</listener-class>
	</listener>
</web-app>
