<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Context parameters -->

	<!-- Servlets -->
	<servlet>
		<servlet-name>Welcome</servlet-name>
		<servlet-class>edu.ycp.cs.pygmymarmoset.app.servlet.Welcome</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>edu.ycp.cs.pygmymarmoset.app.servlet.Index</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>edu.ycp.cs.pygmymarmoset.app.servlet.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>edu.ycp.cs.pygmymarmoset.app.servlet.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminIndex</servlet-name>
		<servlet-class>edu.ycp.cs.pygmymarmoset.app.servlet.AdminIndex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateCourse</servlet-name>
		<servlet-class>edu.ycp.cs.pygmymarmoset.app.servlet.AdminCreateCourse</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateUser</servlet-name>
		<servlet-class>edu.ycp.cs.pygmymarmoset.app.servlet.AdminCreateUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Courses</servlet-name>
		<servlet-class>edu.ycp.cs.pygmymarmoset.app.servlet.AdminCourses</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InstCourse</servlet-name>
		<servlet-class>edu.ycp.cs.pygmymarmoset.app.servlet.InstCourse</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InstRegisterStudent</servlet-name>
		<servlet-class>edu.ycp.cs.pygmymarmoset.app.servlet.InstRegisterStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InstAddInstructor</servlet-name>
		<servlet-class>edu.ycp.cs.pygmymarmoset.app.servlet.InstAddInstructor</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InstSuggestUsernames</servlet-name>
		<servlet-class>edu.ycp.cs.pygmymarmoset.app.servlet.InstSuggestUsernames</servlet-class>
	</servlet>

	<!-- Servlet-mapping -->
	<servlet-mapping>
		<servlet-name>Welcome</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/u/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminIndex</servlet-name>
		<url-pattern>/a/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateCourse</servlet-name>
		<url-pattern>/a/createCourse</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateUser</servlet-name>
		<url-pattern>/a/createUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Courses</servlet-name>
		<url-pattern>/a/courses</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InstCourse</servlet-name>
		<url-pattern>/i/index/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InstRegisterStudent</servlet-name>
		<url-pattern>/i/regStudent/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InstAddInstructor</servlet-name>
		<url-pattern>/i/addInst/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InstSuggestUsernames</servlet-name>
		<url-pattern>/i/suggestUsernames/*</url-pattern>
	</servlet-mapping>
	
	<!-- Filters and filter mappings -->
	<filter>
		<filter-name>RequireLogin</filter-name>
		<filter-class>edu.ycp.cs.pygmymarmoset.app.filter.RequireLogin</filter-class>
	</filter>
	<filter>
		<filter-name>RequireSuperUser</filter-name>
		<filter-class>edu.ycp.cs.pygmymarmoset.app.filter.RequireSuperUser</filter-class>
	</filter>
	<filter>
		<filter-name>LoadCourse</filter-name>
		<filter-class>edu.ycp.cs.pygmymarmoset.app.filter.LoadCourse</filter-class>
	</filter>
	<filter>
		<filter-name>RequireInstructorOrAdmin</filter-name>
		<filter-class>edu.ycp.cs.pygmymarmoset.app.filter.RequireInstructorOrAdmin</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RequireLogin</filter-name>
		<url-pattern>/u/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RequireSuperUser</filter-name>
		<url-pattern>/a/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoadCourse</filter-name>
		<url-pattern>/i/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RequireInstructorOrAdmin</filter-name> <!-- Note: must be *after* LoadCourse -->
		<url-pattern>/i/*</url-pattern>
	</filter-mapping>
	
	<!--
		Use the Welcome servlet as the welcome page.
		It will redirect to the login page or index page
		as appropriate.
	-->
	<welcome-file-list>
		<welcome-file>/welcome</welcome-file>
	</welcome-file-list>
	<!-- Listeners -->

</web-app>
