body {
	margin: 0;
	padding: 0;
	border: 0;
}

.errmsg, .resultmsg {
	font-size: 120%;
	margin-top: 1em;
}

.errmsg {
	border-top: 2px solid red;
	border-bottom: 2px solid red;
	padding: .5em;
	background: #fbb;
	font-style: italic;
	color: red;
}

.errmsg-icon, .resultmsg-icon {
	vertical-align: middle;
}

.resultmsg {
	border-top: 2px solid DarkGreen;
	border-bottom: 2px solid DarkGreen;
	padding: .5em;
	background: #bfb;
	font-weight: bold;
	color: DarkGreen;
}

.msgtext {
	vertical-align: middle;
}

#loginbox {
	width: 20em;
	margin-left: 3em;
	margin-top: 3em;
	background: white;
	border: 8px solid #d5ba53;
	border-radius: 24px;
	padding: 1em 2em;
}

#loginbox h1 {
	font-size: 120%;
}

table.formtab {
	border-collapse: collapse;
}

table.formtab tr td {
	padding-top: .5em;
	padding-bottom: .5em;
}

.formlabel {
	text-align: right;
	padding-right: 1em;
}

#header {
	display: block;
	width: 100%;
	height: 100px;
	min-height: 100px;
	max-height: 100px;
	background: #18231f;
	color: white;
}

#headerImg {
	margin: 0;
	padding: 0;
	border: 0;
	position: absolute;
	top: 0px;
	right: 0px;
}

#headerItems {
	padding-left: 1em;
	padding-top: 64px;
}

#headerItems a {
	color: white;
	text-decoration: none;
}

#headerItems a:hover {
	text-decoration: underline;
}

#content {
	border-top: 8px solid #d5ba53;
	padding: 1em;
}

.navgroup ul {
	list-style: none;
}

.navgroup ul li {
	margin: 1em 0;
}

a.navlink {
	padding: .25em .5em;
	border: 1px solid #d5ba53;
	border-radius: 1em;
	font-size: 120%;
	text-decoration: none;
	color: black;
	background: white;
}

a.navlink:hover {
	background: #d5ba53;
}

table.objtable {
	border-collapse: collapse;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-left: 2.5em;
}

table.objtable th {
	border-bottom: 1px solid black;
	text-align: left;
}

table.objtable th, table.objtable td {
	padding: 6px 12px;
}

table.objtable th a {
	color: black;
}

table.objtable th a:visited {
	color: black;
}

table.objtable tr:nth-child(even) {
	background: #ddd;
}

table.objtable tr td a {
	color: black;
	text-decoration: none;
}

table.objtable tr td a:hover {
	text-decoration: underline;
}

a.crumb {
	color: black;
	text-decoration: none;
}

a.crumb:hover {
	color: black;
	text-decoration: underline;
}

/* Make jquery-ui widgets use a smaller font. */
.ui-widget {
    font-size:80% !important;
}
